#icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.icon-card {
    text-align: center;
    margin: 20px;
}

.icon-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.icon-card p {
    font-size: 12px;
}

.sport-desc {
    max-width: 18vw;
}